{% extends 'base.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
{% block head_block %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" />
<link href="{% static 'css/pages/potential_map.css' %}" rel="stylesheet"/>
{% endblock head_block %}

{% block content %}
<body>
<main>
  <section class="dashboard">
    <div class="row">

      <section class="dashboard">
        <div class="chart" style="height: auto; padding-bottom: 10px">
          <div class="chart__header">
            <a class="title">Potential project sites</a>
                      <div class="radio-inputs" id="status_header" >
            <label class="radio">
              <input type="radio" name="radio" checked>
              <a class="name" href="{% url 'projects:projects_list' 'potential' %}">Potential</a>
            </label>
            <label class="radio">
              <input type="radio" name="radio">
              <a class="name" href="{% url 'projects:projects_list' 'analyzing' %}">Analyzing</a>
            </label>
            <label class="radio">
              <input type="radio" name="radio">
              <a class="name" href="{% url 'projects:projects_list' 'monitoring' %}">Monitoring</a>
            </label>
          </div>
          <span style="float:right;"><a>
                    <a href="{% url 'projects:potential_map' %}"
                       class="btn btn--long text-right">List view</a>
                  </a></span>

          </div>
          <div>
            <p>Select a location from the map to initiate site analysis</p>
          </div>
          <div id="map" class="row" style="height: 600px; width: 100%">
            <label for="buildingFilter">Minimum building count:</label>
<input type="range" id="buildingFilter" min="0" max="100" value="0">
<span id="filterValue">0</span>

          </div>
        </div>
      </section>
    </div>

  </section>
</main>
</body>
{% endblock content %}

{% block end_body_scripts %}
<script>
const siteLocationsUrl = `{% url 'projects:locations_geojson' %}`;
const projectSetupUrl = `{% url 'steps:project_setup' %}`;
</script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
<script src="{% static 'js/pages/potential_map.js' %}"></script>

{% endblock end_body_scripts %}
</html>
