{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
{% block head_block %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" />
<link href="{% static 'css/pages/potential_map.css' %}" rel="stylesheet"/>
<link href="{% static 'css/main.css' %}" rel="stylesheet"/>
{% endblock head_block %}

{% block content %}
<body>
<main>
  <section class="dashboard">
    <div class="row">
       <div class="chart" style="height: auto; padding-bottom: 10px">
          <div class="chart__header">
            <a class="title">Potential project sites</a>
            <div class="radio-inputs" id="status_header">
              <label class="radio">
                <input type="radio" name="radio" checked>
                <a class="name" href="{% url 'projects:projects_list' 'potential' %}">Potential</a>
              </label>
              <label class="radio">
                <input type="radio" name="radio">
                <a class="name" href="{% url 'projects:projects_list' 'analyzing' %}">Analyzing</a>
              </label>
              <label class="radio">
                <input type="radio" name="radio">
                <a class="name" href="{% url 'projects:projects_list' 'monitoring' %}">Monitoring</a>
              </label>
            </div>
            <span style="float:right;">
                  <a href="{% url 'projects:potential_map' %}"
                     class="btn btn--long text-right">List view</a>
            </span>

          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <form id="filter-form">
                  {% csrf_token %}
                  {{ form | crispy }}
                </form>

                <div style="display:flex">
                  <button id="exploration-btn" type="submit" class="btn btn-primary">Run Exploration</button>
                  <span class="spinner" id="loading_spinner" style="display:none; margin-top: 0.5rem">
                    <svg viewBox="25 25 50 50">
                      <circle r="20" cy="50" cx="50"></circle>
                    </svg>
			            </span>
                  <button id="stop-btn" class="btn btn-primary">Stop</button>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div id="map" class="col-md-8" style="height: 400px">
              </div>
            </div>
            <div id="sites-table"></div>
          </div>
        </div>
    </div>
  </section>
</main>
</body>
{% endblock content %}

{% block end_body_scripts %}
<script>
  const projectSetupUrl = `{% url 'steps:project_setup' %}`;
  const startExplorationUrl = `{% url 'projects:start_exploration' %}`;
  const stopExplorationUrl = `{% url 'projects:stop_exploration' %}`;
  const loadExplorationSitesUrl = `{% url 'projects:load_exploration_sites' %}`;
  const populateSiteDataUrl = `{% url 'projects:populate_site_data' %}`;
  const csrfToken = `{{ csrf_token }}`;
  const table_data = {{ table_data | safe }};
  const map_data = {{ map_data | safe }};
  const existing_mgs = {{ existing_mgs | safe }};
</script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
<script src="{% static 'js/pages/potential_map.js' %}"></script>

{% endblock end_body_scripts %}
</html>
