.dashboard {
    min-height: unset; /* overwrites main.css */
}
.dashboard .container {
    text-align: justify;
}
.dashboard .col-12,
.dashboard .col-md-6 {
    padding-left: 30px;
    padding-right: 30px;
}
.dashboard h4 {
    margin-bottom: 50px;
}
.dashboard ul {
    margin-left: 0;
    padding-left: 1.5em;
}
.dashboard ol {
    margin-left: 0;
    padding-left: 1.5em;
}
.dashboard ol li,
.dashboard ul li {
    margin-left: 50px;
    margin-right: 50px;
}
.dashboard img.img-fluid.full-width-img {
    padding: 20px;
    border: 2px solid #000;
    width: 80%;
    height: auto;
    margin-top: 20px;
}

/* First ES tool image has margin-top: -25px */
.dashboard img.img-fluid.full-width-img:first-of-type {
    margin-top: -25px;
}
.dashboard .text-center.my-4 {
    margin-top: 20px;
    margin-bottom: 20px;
}
