.filter-control {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.info.legend {
  background: white;
  padding: 6px 8px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

.info.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.table-container-scrollable {
  max-height: 300px; /* limit height */
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 1rem;
}

.minimal-table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.9rem;
}

.minimal-table th,
.minimal-table td {
  padding: 0.6rem;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.minimal-table th {
  background-color: #f9f9f9;
  position: sticky;
  top: 0;
  z-index: 1;
}

.minimal-table tbody tr:hover {
  background-color: #f0f8ff; /* light blue */
}

  .sort-arrow {
    margin-left: 5px;
    font-size: 0.8em;
    transition: transform 0.2s ease;
    cursor: pointer;
  }

  .asc .sort-arrow {
    transform: rotate(180deg); /* Points up */
  }

  .desc .sort-arrow {
    transform: rotate(0deg);   /* Points down */
  }

  th.asc, th.desc {
    background-color: #f0f0f0;
  }


/* From Uiverse.io by barisdogansutcu */
.spinner svg {
  width: 2em;
  transform-origin: center;
  animation: rotate4 2s linear infinite; }

.spinner circle {
  fill: none;
  stroke: #3189fc;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite; }

@keyframes rotate4 {
  100% {
    transform: rotate(360deg); } }

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dashoffset: -125px; } }
