/* Section: Dashboard */
section#section.dashboard {
    min-height: unset;
}
section#section.dashboard .container {
    text-align: justify;
}
section#section.dashboard .col-12 {
    padding-left: 6rem;
    padding-right: 6rem;
}

.task_dashboard {
    display: none;
    width: 100%; /* Adjust as needed */
    padding: 20px;
    padding-bottom: calc(20px + 4.5rem);
    background-color: var(--bcc);
}
.task_dashboard.active {
    display: block;
}

.accordion {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.accordion-item {
    width: 100%;
}

.training_wizard {
    visibility: visible !important;
    opacity: 1 !important;
    transition: none !important;
}

/* Use data-step-number to display numbering */
.training_wizard__steps li::before {
    content: attr(data-step-number) ".";
    margin-right: 5px;
    font-weight: bold;
    color: var(--bct);
}

/* Style for active step */
.training_wizard__steps li.active::before {
    color: var(--bct);
}

/* Ensure steps are displayed correctly */
.training_wizard__steps li {
    display: inline-block !important;
}

/* Optional: Adjust step text color */
.training_wizard__steps li a {
    color: inherit !important;
    text-decoration: none;
}

/* Training Wizard */
.training_wizard .accordion {
    margin-top: 12px;
}
.accordion-item {
    padding: 10px;
}
.accordion-body img.img-fluid {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Task Specific */
#task2 .accordion-body img.img-fluid.d-block.mx-auto {
    max-width: 400px;
    height: auto;
}
#task3 .accordion-body img.img-fluid.d-block.mx-auto {
    max-width: 400px;
    height: auto;
}
#task4 .accordion-body img.img-fluid.d-block.mx-auto {
    max-width: 400px;
    height: auto;
}
#task5 .accordion-body img.img-fluid.d-block.mx-auto {
    max-width: 400px;
    height: auto;
}

/* Footer Buttons */
#nextButton {
    color: #fff;
}
